$wheat:#FFF2E9;
$darkBlueGreen:#336C71;
$deepBlue:#294C5B;
$white:#fff;
$gray:#333;
$red1:#CB181A;
$red2:maroon;
$orangeRed:#E6580E;
$orange:orange;
$yellowGreen:#99C379;
$lightYellow:#FFE2A7;
$skin:#FFC8AB;
$pink:#F8C6C7;
$lightRose:#E3C0BF;
$blueGray:#C5D4DB;
$lgBlue:#C8E3EE;
$brown:#7F4F21;
$deepBrown:#4b2a0c;
$deepGreen:#6A955B;

// official colour setting