@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;500;700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Raleway&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@1,8..60,300&display=swap");
* {
  font-family: "Noto Sans Mono", "Roboto", "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

html, body {
  transition: all 0.2s;
  height: 100%;
}

body {
  min-height: 100%;
}

div, section, nav, footer, header {
  border: 0px solid #666;
}

img {
  max-width: 100%;
  width: 100%;
}

button, input {
  border: none;
}

ul {
  margin-bottom: 0;
}

footer {
  -webkit-text-size-adjust: 100%;
}

header .colorbar {
  background-color: #000066;
  height: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
header .colorbar h3 {
  display: none;
}
@media screen and (max-width: 767px) {
  header .colorbar h3 {
    display: block;
    color: #fff;
    font-size: 24px;
    padding: 0 0 0 5%;
  }
}
@media screen and (max-width: 500px) {
  header .colorbar h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  header .colorbar {
    height: 64px;
  }
}
header a.menubtn {
  background: url(../images/menu_btn.png) no-repeat center center;
  width: 60px;
  height: 40px;
  background-size: contain;
  position: absolute;
  top: 75px;
  left: 50px;
  z-index: 98;
  cursor: pointer;
  transition: all 0.2s;
  cursor: pointer;
}
header a.menubtn:hover {
  transform: translate(-1px, -1px);
}
@media screen and (max-width: 767px) {
  header a.menubtn {
    top: 20px;
    left: calc(95% - 37px);
    width: 37px;
    height: 24px;
  }
}
header nav {
  display: none;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #000066;
  padding: 62px;
}
@media screen and (max-width: 767px) {
  header nav {
    height: 100vh;
  }
}
@media screen and (max-width: 500px) {
  header nav {
    padding: 32px;
  }
}
header nav .close_btn {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: url(../images/close.png) no-repeat center center;
  transition: all 0.2s;
  background-size: contain;
}
header nav .close_btn:hover {
  transform: scale(1.1) rotate(180deg);
}
@media screen and (max-width: 767px) {
  header nav .close_btn {
    float: right;
    margin-bottom: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  header nav .close_btn {
    width: 28px;
    height: 28px;
  }
}
header nav .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 1.5rem 0;
  clear: both;
}
header nav ul.menu li {
  vertical-align: middle;
  display: flex;
  line-height: 2em;
  align-items: center;
  justify-content: start;
  color: #fff;
  font-weight: bold;
  margin: 0 0 1.5em 0;
  cursor: pointer;
}
header nav ul.menu li:hover a, header nav ul.menu li:hover button {
  color: #3dbee8;
}
header nav ul.menu li a {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fff;
  font-weight: 600;
  text-align: left;
  height: auto;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-decoration: none;
}
header nav ul.menu li a.active {
  color: #6A955B;
}
header nav .m-menu {
  position: relative;
}

.menubg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 97;
}

header.unit .unit_banner_wrap {
  display: flex;
  position: relative;
  height: 340px;
}
@media screen and (max-width: 600px) {
  header.unit .unit_banner_wrap {
    height: 200px;
  }
}
header.unit .unit_banner_wrap .colorbar {
  background-color: #010149;
  height: 100%;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: start;
  top: 0;
  left: 0;
  position: absolute;
}
header.unit .unit_banner_wrap .colorbar h3 {
  display: none;
}
@media screen and (max-width: 767px) {
  header.unit .unit_banner_wrap .colorbar h3 {
    display: block;
    color: #fff;
    font-size: 24px;
    padding: 0 0 0 5%;
  }
}
@media screen and (max-width: 500px) {
  header.unit .unit_banner_wrap .colorbar h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  header.unit .unit_banner_wrap .colorbar {
    height: 64px;
    width: 100%;
  }
}
header.unit .unit_banner_wrap a.menubtn {
  background: url(../images/menu_btn.png) no-repeat center center;
  width: 71px;
  height: 48px;
  background-size: contain;
  position: absolute;
  top: 75px;
  left: 50px;
  z-index: 98;
  cursor: pointer;
  transition: all 0.2s;
  cursor: pointer;
}
header.unit .unit_banner_wrap a.menubtn:hover {
  transform: translate(-1px, -1px);
}
@media screen and (max-width: 767px) {
  header.unit .unit_banner_wrap a.menubtn {
    top: 20px;
    left: calc(95% - 37px);
    width: 37px;
    height: 24px;
  }
}
header.unit .unit_banner_wrap .banner {
  height: 100%;
  width: 100%;
}
header.unit .unit_banner_wrap .banner.unit1 {
  background: url(../images/unit1_banner.png) no-repeat center center;
  background-size: cover;
}
header.unit .unit_banner_wrap .banner.unit2 {
  background: url(../images/unit2_banner.png) no-repeat center center;
  background-size: cover;
}
header.unit .unit_banner_wrap .banner.unit3 {
  background: url(../images/unit3_banner.png) no-repeat center center;
  background-size: cover;
}
header.unit .unit_banner_wrap .banner.unit4 {
  background: url(../images/unit4_banner.png) no-repeat center center;
  background-size: cover;
}
header.unit .unit_banner_wrap .banner.unit5 {
  background: url(../images/unit5_banner.png) no-repeat center center;
  background-size: cover;
}
header.unit .unit_banner_wrap .title {
  height: 100%;
  position: absolute;
  top: 0;
  left: 160px;
}
@media screen and (max-width: 767px) {
  header.unit .unit_banner_wrap .title {
    left: 0;
    top: 64px;
    height: calc(100% - 64px);
  }
}
header.unit .unit_banner_wrap .title.unit1 {
  width: 450px;
  background: url(../images/unit1_title.png) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  header.unit .unit_banner_wrap .title.unit1 {
    width: 350px;
    background-size: contain;
    background-color: #000066;
  }
}
@media screen and (max-width: 767px) {
  header.unit .unit_banner_wrap .title.unit1 {
    width: 40%;
    background-size: contain;
    background-color: #000066;
  }
}
header.unit .unit_banner_wrap .title.unit2 {
  width: 450px;
  background: url(../images/unit2_title.png) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  header.unit .unit_banner_wrap .title.unit2 {
    width: 350px;
    background-size: contain;
    background-color: #000066;
  }
}
@media screen and (max-width: 767px) {
  header.unit .unit_banner_wrap .title.unit2 {
    width: 40%;
    background-size: contain;
    background-color: #000066;
  }
}
header.unit .unit_banner_wrap .title.unit3 {
  width: 750px;
  background: url(../images/unit3_title.png) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  header.unit .unit_banner_wrap .title.unit3 {
    width: 650px;
    background-size: contain;
    background-color: #000066;
  }
}
@media screen and (max-width: 767px) {
  header.unit .unit_banner_wrap .title.unit3 {
    width: 45%;
    background-size: contain;
    background-color: #000066;
  }
}
header.unit .unit_banner_wrap .title.unit4 {
  width: 450px;
  background: url(../images/unit4_title.png) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  header.unit .unit_banner_wrap .title.unit4 {
    width: 350px;
    background-size: contain;
    background-color: #000066;
  }
}
@media screen and (max-width: 767px) {
  header.unit .unit_banner_wrap .title.unit4 {
    width: 40%;
    background-size: contain;
    background-color: #000066;
  }
}
header.unit .unit_banner_wrap .title.unit5 {
  width: 750px;
  background: url(../images/unit5_title.png) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  header.unit .unit_banner_wrap .title.unit5 {
    width: 650px;
    background-size: contain;
    background-color: #000066;
  }
}
@media screen and (max-width: 767px) {
  header.unit .unit_banner_wrap .title.unit5 {
    width: 45%;
    background-size: contain;
    background-color: #000066;
  }
}
header.unit nav {
  display: none;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #000066;
  padding: 62px;
}
@media screen and (max-width: 767px) {
  header.unit nav {
    height: 100vh;
  }
}
@media screen and (max-width: 500px) {
  header.unit nav {
    padding: 32px;
  }
}
header.unit nav .close_btn {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: url(../images/close.png) no-repeat center center;
  transition: all 0.2s;
  background-size: contain;
}
header.unit nav .close_btn:hover {
  transform: scale(1.1) rotate(180deg);
}
@media screen and (max-width: 767px) {
  header.unit nav .close_btn {
    float: right;
    margin-bottom: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  header.unit nav .close_btn {
    width: 28px;
    height: 28px;
  }
}
header.unit nav .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 1.5rem 0;
  clear: both;
}
header.unit nav ul.menu li {
  vertical-align: middle;
  display: flex;
  line-height: 2em;
  align-items: center;
  justify-content: start;
  color: #fff;
  font-weight: bold;
  margin: 0 0 1.5em 0;
  cursor: pointer;
}
header.unit nav ul.menu li:hover a, header.unit nav ul.menu li:hover button {
  color: #3dbee8;
}
header.unit nav ul.menu li a {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fff;
  font-weight: 600;
  text-align: left;
  height: auto;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-decoration: none;
}
header.unit nav ul.menu li a.active {
  color: #6A955B;
}
header.unit nav .m-menu {
  position: relative;
}

main {
  position: relative;
  margin: 0 0 100px 0;
  overflow: hidden;
}
@media (max-width: 900px) {
  main {
    margin: 0 0 50px 0;
  }
}
main .banner_wrap {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  justify-content: end;
}
@media screen and (max-width: 767px) {
  main .banner_wrap {
    justify-content: start;
  }
}
main .banner_wrap video {
  height: 100%;
}
@media screen and (max-width: 767px) {
  main .banner_wrap {
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  main .banner_wrap {
    height: 200px;
  }
}
main .banner_wrap .index_banner {
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: url(../images/index_banner.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
}
@media screen and (max-width: 1300px) {
  main .banner_wrap .index_banner {
    background-position: 45% 0;
  }
}
@media (max-width: 900px) {
  main .banner_wrap .index_banner {
    background-position: 45% 0;
    left: 30%;
  }
}
@media screen and (max-width: 767px) {
  main .banner_wrap .index_banner {
    background-position: 20% 0;
  }
}
@media screen and (max-width: 500px) {
  main .banner_wrap .index_banner {
    background-position: 45% 0;
  }
}
main .banner_wrap .dark_retangle {
  height: 100%;
  width: 180px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 767px) {
  main .banner_wrap .dark_retangle {
    display: none;
  }
}
main .banner_wrap .grid_blue {
  position: absolute;
  width: 143px;
  height: 180px;
  background: url(../images/grids_icon.png) no-repeat 0 0;
  background-size: auto 100%;
  top: -40px;
  left: 250px;
  transition: all 0.2s;
}
@media screen and (max-width: 1300px) {
  main .banner_wrap .grid_blue {
    left: 160px;
  }
}
@media screen and (max-width: 1080px) {
  main .banner_wrap .grid_blue {
    width: 120px;
    height: 151px;
  }
}
@media screen and (max-width: 767px) {
  main .banner_wrap .grid_blue {
    width: 60px;
    height: 45px;
    top: 20px;
    left: calc(100% - 84px);
    background: url(../images/mobile/grids_icon.png) no-repeat 0 0;
    background-size: contain;
  }
}
main .banner_wrap .text-wrap {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 250px;
  transform: translate(0%, 0%);
}
@media screen and (max-width: 1300px) {
  main .banner_wrap .text-wrap {
    left: 180px;
  }
}
@media screen and (max-width: 1080px) {
  main .banner_wrap .text-wrap {
    left: 100px;
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  main .banner_wrap .text-wrap {
    top: 25%;
    left: 5%;
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  main .banner_wrap .text-wrap {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: auto;
  }
}
main .banner_wrap .text-wrap h1 {
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media screen and (max-width: 1080px) {
  main .banner_wrap .text-wrap h1 {
    font-size: 56px;
  }
}
@media screen and (max-width: 767px) {
  main .banner_wrap .text-wrap h1 {
    font-size: 44px;
  }
}
@media screen and (max-width: 500px) {
  main .banner_wrap .text-wrap h1 {
    font-size: 30px;
    white-space: nowrap;
  }
}
main .banner_wrap .text-wrap h3 {
  color: #fff;
  font-size: 22px;
}
@media screen and (max-width: 1080px) {
  main .banner_wrap .text-wrap h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  main .banner_wrap .text-wrap h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  main .banner_wrap .text-wrap h3 {
    font-size: 10px;
    white-space: nowrap;
  }
}
main .container {
  height: auto;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
main .container .grid_blue {
  position: absolute;
  width: 143px;
  height: 180px;
  background: url(../images/grids_icon.png) no-repeat 0 0;
  background-size: auto 100%;
  top: -150px;
  right: -100px;
}
@media screen and (max-width: 1300px) {
  main .container .grid_blue {
    right: -10px;
  }
}
@media screen and (max-width: 1080px) {
  main .container .grid_blue {
    right: 0px;
    top: -80px;
    width: 120px;
    height: 151px;
  }
}
@media screen and (max-width: 767px) {
  main .container .grid_blue {
    width: 60px;
    height: 45px;
    top: -20px;
    left: 15%;
    background: url(../images/mobile/grids_icon.png) no-repeat 0 0;
    background-size: contain;
  }
}
@media screen and (max-width: 500px) {
  main .container .grid_blue {
    left: 10%;
  }
}
main .container .short_cut_wrap {
  width: 100%;
  max-width: 1080px;
  display: block;
}
@media screen and (max-width: 1400px) {
  main .container .short_cut_wrap {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  main .container .short_cut_wrap {
    display: none;
  }
}
main .container .short_cut_wrap ul {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}
@media (max-width: 900px) {
  main .container .short_cut_wrap ul {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  main .container .short_cut_wrap ul {
    width: 100%;
  }
}
main .container .short_cut_wrap ul li {
  display: flex;
  width: 30%;
  align-items: center;
}
@media (max-width: 900px) {
  main .container .short_cut_wrap ul li {
    width: 50%;
  }
}
main .container .short_cut_wrap ul li.w-40 {
  width: 40%;
}
@media (max-width: 900px) {
  main .container .short_cut_wrap ul li.w-40 {
    width: 50%;
  }
}
main .container .short_cut_wrap ul li:hover a {
  color: #3dbee8;
}
main .container .short_cut_wrap ul li:hover .icon {
  transform: scale(1.1);
}
main .container .short_cut_wrap ul li a {
  display: flex;
  color: #000066;
  transition: all 0.2s;
  text-decoration: none;
  font-size: 20px;
  padding: 0.5rem 0;
}
@media screen and (max-width: 1080px) {
  main .container .short_cut_wrap ul li a {
    font-size: 18px;
  }
}
main .container .short_cut_wrap ul li .icon {
  width: 36px;
  height: 36px;
  margin: 0 0.5em 0 0;
}
@media screen and (max-width: 1080px) {
  main .container .short_cut_wrap ul li .icon {
    width: 28px;
    height: 28px;
  }
}
main .container .short_cut_wrap ul li .magnifier {
  background: url(../images/magnifier.png) no-repeat center center;
  background-size: contain;
}
main .container .short_cut_wrap ul li .address {
  background: url(../images/address.png) no-repeat center center;
  background-size: contain;
}
main .container .short_cut_wrap ul li .species {
  background: url(../images/species.png) no-repeat center center;
  background-size: contain;
}
main .container .short_cut_wrap ul li .assistant {
  background: url(../images/assistant.png) no-repeat center center;
  background-size: contain;
}
main .container section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  main .container section {
    width: 90%;
    margin: 0 auto;
  }
}
main .container section h2 {
  font-size: 40px;
  color: #000066;
  width: 100%;
  padding: 1rem 0;
  display: block;
}
@media screen and (max-width: 1080px) {
  main .container section h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 600px) {
  main .container section h2 {
    text-align: center;
    font-size: 24px;
    padding: 2rem 0 1rem 0;
  }
}
main .container section .text {
  font-size: 20px;
  color: #676767;
  line-height: 1.8;
  font-weight: 400;
  padding: 1rem 0;
}
@media screen and (max-width: 767px) {
  main .container section .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  main .container section .text {
    font-size: 14px;
  }
}
main .container .plan_wrap .down_arrow {
  width: 170px;
  height: 300px;
  background: url(../images/down_arrow.png) no-repeat center center;
  background-size: contain;
  animation: downMotion 1s alternate infinite linear;
  display: block;
}
@media screen and (max-width: 1300px) {
  main .container .plan_wrap .down_arrow {
    height: 350px;
  }
}
@media screen and (max-width: 600px) {
  main .container .plan_wrap .down_arrow {
    display: none;
  }
}
@keyframes downMotion {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
main .container .plan_wrap .text {
  width: calc(100% - 170px);
}
@media screen and (max-width: 600px) {
  main .container .plan_wrap .text {
    width: 100%;
  }
}
main .container .video_intro_wrap ul.video_wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
main .container .video_intro_wrap ul.video_wrap li {
  width: 30%;
  margin: 0 5% 0 0;
  list-style: none;
  cursor: pointer;
}
main .container .video_intro_wrap ul.video_wrap li:nth-child(3n) {
  margin: 0;
}
@media (max-width: 900px) {
  main .container .video_intro_wrap ul.video_wrap li {
    width: 47.5%;
    margin: 0 5% 1rem 0;
  }
  main .container .video_intro_wrap ul.video_wrap li:nth-child(3n) {
    margin: 0 5% 1rem 0;
  }
  main .container .video_intro_wrap ul.video_wrap li:nth-child(2n) {
    margin: 0 0 1rem 0;
  }
}
@media screen and (max-width: 600px) {
  main .container .video_intro_wrap ul.video_wrap li {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  main .container .video_intro_wrap ul.video_wrap li:nth-child(2n) {
    margin: 0 0 2rem 0;
  }
  main .container .video_intro_wrap ul.video_wrap li:nth-child(3n) {
    margin: 0 0 2rem 0;
  }
}
main .container .video_intro_wrap ul.video_wrap li:hover .pic img {
  transform: scale(1.01);
}
main .container .video_intro_wrap ul.video_wrap li:hover .pic .play {
  width: 90px;
  height: 90px;
}
main .container .video_intro_wrap ul.video_wrap li:hover a {
  color: #3dbee8;
}
main .container .video_intro_wrap ul.video_wrap li .pic {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
main .container .video_intro_wrap ul.video_wrap li .pic img {
  width: 100%;
  border-radius: 10px;
}
main .container .video_intro_wrap ul.video_wrap li .pic .play {
  position: absolute;
  width: 108px;
  height: 108px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/play_video.png) no-repeat center center;
  background-size: contain;
}
@media screen and (max-width: 1080px) {
  main .container .video_intro_wrap ul.video_wrap li .pic .play {
    width: 80px;
    height: 80px;
  }
}
main .container .video_intro_wrap ul.video_wrap li a {
  color: #000066;
  transition: all 0.2s;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
main .container .video_intro_wrap ul.video_wrap li a:hover {
  color: #3dbee8;
}
@media screen and (max-width: 500px) {
  main .container .video_intro_wrap ul.video_wrap li a {
    font-size: 16px;
  }
}

main.unit {
  position: relative;
  margin: 0 0 100px 0;
}
@media (max-width: 900px) {
  main.unit {
    margin: 0 0 50px 0;
  }
}
main.unit .container {
  height: auto;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
main.unit .container.fluid {
  max-width: 100% !important;
}
main.unit .container section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  main.unit .container section {
    width: 90%;
    margin: 0 auto;
  }
}
main.unit .container section h2 {
  font-size: 40px;
  color: #000066;
  width: 100%;
  padding: 1rem 0;
  display: block;
}
@media screen and (max-width: 1080px) {
  main.unit .container section h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 600px) {
  main.unit .container section h2 {
    text-align: center;
    padding: 2rem 0 1rem 0;
  }
}
main.unit .container section .text {
  font-size: 20px;
  color: #676767;
  line-height: 1.8;
  font-weight: 400;
  padding: 1rem 0;
}
@media screen and (max-width: 767px) {
  main.unit .container section .text {
    text-align: center;
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  main.unit .container section .text {
    text-align: center;
    font-size: 16px;
  }
}
main.unit .container .bread_wrap {
  display: flex;
  align-items: center;
  padding: 2rem 0 0 0;
}
@media screen and (max-width: 600px) {
  main.unit .container .bread_wrap {
    display: none;
  }
}
main.unit .container .bread_wrap span a {
  font-size: 20px;
  color: #676767;
  text-decoration: none;
  transition: all 0.2s;
}
main.unit .container .bread_wrap span a:hover {
  color: #000066;
}
main.unit .container .bread_wrap .home.icon {
  width: 20px;
  height: 20px;
  background: url(../images/home.png) no-repeat center center;
  background-size: contain;
  margin: 0 0.5em 0 0;
}
main.unit .container .intro_wrap {
  margin: 0 auto 2rem auto;
}
@media screen and (max-width: 600px) {
  main.unit .container .intro_wrap {
    margin: 1.5rem auto;
  }
}
main.unit .container .intro_wrap .text {
  width: 100%;
  color: #676767;
  text-align: left;
}
main.unit .container .intro_wrap .text a {
  color: #000066;
  text-decoration: none;
}
main.unit .container .intro_wrap .text a:hover {
  color: #3dbee8;
}
main.unit .container .table_wrap {
  position: relative;
  min-height: 750px;
}
@media screen and (max-width: 1400px) {
  main.unit .container .table_wrap {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  main.unit .container .table_wrap {
    min-height: 700px;
  }
}
@media screen and (max-width: 440px) {
  main.unit .container .table_wrap {
    min-height: 620px;
  }
}
main.unit .container .table_wrap .table-shadow {
  width: 100%;
  max-width: 1360px;
  height: 620px;
  border-radius: 0 30px 30px 30px;
  background-color: #484848;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: scale(1) translate(-50%, 0);
}
@media screen and (max-width: 600px) {
  main.unit .container .table_wrap .table-shadow {
    display: none;
  }
}
main.unit .container .table_wrap form {
  width: 100%;
  max-width: 1300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1400px) {
  main.unit .container .table_wrap form {
    width: 94%;
  }
}
@media screen and (max-width: 600px) {
  main.unit .container .table_wrap form {
    width: 100%;
  }
}
main.unit .container .table_wrap form select.prettySelect {
  padding: 1rem;
  border: 0px solid #000;
  font-size: 18px;
  outline: none;
  width: 300px;
  height: 60px;
  appearance: none;
  background: #ebebeb url(../images/select_arrow.png) no-repeat calc(100% - 20px) center;
  background-size: 16px 26px;
}
@media screen and (max-width: 600px) {
  main.unit .container .table_wrap form select.prettySelect {
    font-size: 16px;
    min-height: 50px;
    width: 180px;
  }
}
main.unit .container .table_wrap form select.prettySelect:focus {
  border: 2px solid #484848;
}
main.unit .container .table_wrap form select.prettySelect option {
  font-size: 16px;
  border: 1px solid #000;
}
main.unit .container .table_wrap form .table_form_wrap {
  width: 100%;
  background-color: #c2c2c2;
  padding: 1.5rem;
  border-radius: 0 30px 30px 30px;
  overflow: scroll;
  height: 600px;
}
main.unit .container .table_wrap form .table_form_wrap table {
  color: #fff;
  display: table;
  width: 100%;
  min-width: 900px;
  border-spacing: 10px;
}
main.unit .container .table_wrap form .table_form_wrap table thead, main.unit .container .table_wrap form .table_form_wrap table tbody {
  width: 100%;
}
main.unit .container .table_wrap form .table_form_wrap table tr {
  width: 100%;
}
main.unit .container .table_wrap form .table_form_wrap table tr th {
  font-size: 20px;
  text-align: center;
  background-color: #484848;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  main.unit .container .table_wrap form .table_form_wrap table tr th {
    font-size: 16px;
  }
}
main.unit .container .table_wrap form .table_form_wrap table tr td {
  font-size: 20px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #ebebeb;
  color: #676767;
}
main.unit .container .table_wrap form .table_form_wrap table tr td:first-child {
  background-color: #484848;
  color: #fff;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  main.unit .container .table_wrap form .table_form_wrap table tr td {
    font-size: 16px;
  }
}
main.unit .container .table_wrap form .table_form_wrap table tr:nth-child(even) td {
  background-color: #757575;
  color: #fff;
}
main.unit .container .table_wrap form .table_form_wrap table tr:nth-child(even) td:first-child {
  background-color: #484848;
}
main.unit .container .table_wrap form .table_form_wrap_2 {
  border: 1px solid #000;
  width: 100%;
  position: relative;
  background-color: #c2c2c2;
  padding: 1.5rem;
  border-radius: 0 30px 30px 30px;
  overflow: scroll;
}
main.unit .container .table_wrap form .table_form_wrap_2 table {
  color: #fff;
  display: table;
  width: 100%;
  border-spacing: 10px;
}
main.unit .container .table_wrap form .table_form_wrap_2 table thead, main.unit .container .table_wrap form .table_form_wrap_2 table tbody {
  width: 100%;
}
main.unit .container .table_wrap form .table_form_wrap_2 table tr {
  width: 100%;
}
main.unit .container .table_wrap form .table_form_wrap_2 table tr th {
  font-size: 20px;
  text-align: center;
  background-color: #484848;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  main.unit .container .table_wrap form .table_form_wrap_2 table tr th {
    font-size: 16px;
  }
}
main.unit .container .table_wrap form .table_form_wrap_2 table tr td {
  font-size: 20px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #ebebeb;
  color: #676767;
}
main.unit .container .table_wrap form .table_form_wrap_2 table tr td:first-child {
  background-color: #484848;
  color: #fff;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  main.unit .container .table_wrap form .table_form_wrap_2 table tr td {
    font-size: 16px;
  }
}
main.unit .container .table_wrap form .table_form_wrap_2 table tr:nth-child(even) td {
  background-color: #757575;
  color: #fff;
}
main.unit .container .table_wrap form .table_form_wrap_2 table tr:nth-child(even) td:first-child {
  background-color: #484848;
}
main.unit .container .video_intro_wrap ul.video_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main.unit .container .video_intro_wrap ul.video_wrap li {
  width: 30%;
  margin: 0 5% 2rem 0;
  list-style: none;
  cursor: pointer;
}
main.unit .container .video_intro_wrap ul.video_wrap li:nth-child(3n) {
  margin: 0;
}
@media (max-width: 900px) {
  main.unit .container .video_intro_wrap ul.video_wrap li {
    width: 47.5%;
    margin: 0 5% 1rem 0;
  }
  main.unit .container .video_intro_wrap ul.video_wrap li:nth-child(3n) {
    margin: 0 5% 1rem 0;
  }
  main.unit .container .video_intro_wrap ul.video_wrap li:nth-child(2n) {
    margin: 0 0 1rem 0;
  }
}
@media screen and (max-width: 600px) {
  main.unit .container .video_intro_wrap ul.video_wrap li {
    width: 100%;
    margin: 0 0 1.5rem 0;
  }
  main.unit .container .video_intro_wrap ul.video_wrap li:nth-child(2n) {
    margin: 0 0 1.5rem 0;
  }
  main.unit .container .video_intro_wrap ul.video_wrap li:nth-child(3n) {
    margin: 0 0 1.5rem 0;
  }
}
main.unit .container .video_intro_wrap ul.video_wrap li:hover .pic img {
  transform: scale(1.01);
}
main.unit .container .video_intro_wrap ul.video_wrap li:hover .pic .play {
  width: 90px;
  height: 90px;
}
main.unit .container .video_intro_wrap ul.video_wrap li:hover a {
  color: #3dbee8;
}
main.unit .container .video_intro_wrap ul.video_wrap li .pic {
  width: 100%;
  position: relative;
  margin-bottom: 0;
}
main.unit .container .video_intro_wrap ul.video_wrap li .pic img {
  width: 100%;
  border-radius: 10px;
}
main.unit .container .video_intro_wrap ul.video_wrap li .pic .play {
  position: absolute;
  width: 108px;
  height: 108px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/play_video.png) no-repeat center center;
  background-size: contain;
}
@media screen and (max-width: 1080px) {
  main.unit .container .video_intro_wrap ul.video_wrap li .pic .play {
    width: 80px;
    height: 80px;
  }
}
main.unit .container .video_intro_wrap ul.video_wrap li a {
  color: #000066;
  transition: all 0.2s;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
main.unit .container .video_intro_wrap ul.video_wrap li a:hover {
  color: #3dbee8;
}
main.unit .container .pic_album_wrap ul.pic_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main.unit .container .pic_album_wrap ul.pic_wrap li {
  list-style: none;
  width: 47.5%;
  margin: 0 5% 1rem 0;
  cursor: pointer;
}
main.unit .container .pic_album_wrap ul.pic_wrap li:nth-child(3n) {
  margin: 0 5% 1rem 0;
}
main.unit .container .pic_album_wrap ul.pic_wrap li:nth-child(2n) {
  margin: 0 0 1rem 0;
}
@media screen and (max-width: 767px) {
  main.unit .container .pic_album_wrap ul.pic_wrap li {
    width: 100%;
    margin: 0 0 1.5rem 0;
  }
  main.unit .container .pic_album_wrap ul.pic_wrap li:nth-child(2n) {
    margin: 0 0 1.5rem 0;
  }
  main.unit .container .pic_album_wrap ul.pic_wrap li:nth-child(3n) {
    margin: 0 0 1.5rem 0;
  }
}
main.unit .container .pic_album_wrap ul.pic_wrap li:hover .pic img {
  transform: scale(1.01);
}
main.unit .container .pic_album_wrap ul.pic_wrap li:hover a {
  color: #3dbee8;
}
main.unit .container .pic_album_wrap ul.pic_wrap li .pic {
  width: 100%;
  position: relative;
  margin-bottom: 0;
}
main.unit .container .pic_album_wrap ul.pic_wrap li .pic img {
  width: 100%;
  object-fit: contain;
}
main.unit .container .pic_album_wrap ul.pic_wrap li .pic .play {
  position: absolute;
  width: 108px;
  height: 108px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/play_video.png) no-repeat center center;
  background-size: contain;
}
@media screen and (max-width: 1080px) {
  main.unit .container .pic_album_wrap ul.pic_wrap li .pic .play {
    width: 80px;
    height: 80px;
  }
}
main.unit .container .pic_album_wrap ul.pic_wrap li a {
  color: #484848;
  transition: all 0.2s;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  width: 100%;
}
main.unit .container .pic_album_wrap ul.pic_wrap li a:hover {
  color: #3dbee8;
}
@media screen and (max-width: 767px) {
  main.unit .container .pic_album_wrap ul.pic_wrap li a {
    font-size: 16px;
  }
  main.unit .container .pic_album_wrap ul.pic_wrap li a span {
    font-size: 16px;
  }
}
main.unit .container .pic_album_wrap ul.pic_wrap li a span {
  text-align: left;
  justify-content: start;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #000066;
  padding: 0 0 0 0;
  overflow: hidden;
  color: #fff;
}
@media screen and (max-width: 767px) {
  footer {
    background-color: #d4d4d4;
    color: #4e4e4e;
  }
}
footer .container {
  position: relative;
  display: block;
  height: auto;
  max-width: 1440px;
  position: relative;
  padding: 40px 0;
  width: 90%;
}
@media screen and (max-width: 1400px) {
  footer .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  footer .container {
    width: 100%;
    padding: 0;
  }
}
footer .container .title {
  width: 100%;
}
@media screen and (max-width: 767px) {
  footer .container .title {
    width: 90%;
    margin: 40px auto 0 auto;
  }
}
footer .container h2 {
  font-size: 40px;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  position: relative;
}
@media screen and (max-width: 1080px) {
  footer .container h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  footer .container h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  footer .container h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
footer .container h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6em;
  height: 2px;
  background-color: #fff;
}
footer .container a {
  color: #fff;
  font-size: 24px;
  text-decoration: 0;
  display: inline-block;
}
footer .container a:hover {
  color: #3dbee8;
}
@media screen and (max-width: 767px) {
  footer .container a {
    font-size: 20px;
    color: #4e4e4e;
  }
  footer .container a:hover {
    color: #000066;
  }
}
@media screen and (max-width: 500px) {
  footer .container a {
    font-size: 16px;
  }
}
footer .container .contact {
  -webkit-text-size-adjust: 100%;
  font-size: 18px;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  footer .container .contact {
    width: 90%;
    margin: 0 auto 20px auto;
  }
}
@media screen and (max-width: 600px) {
  footer .container .contact {
    font-size: 14px;
    line-height: 1.6;
  }
}
footer .container .contact span.tel {
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  footer .container .contact span.tel {
    font-size: 14px;
    line-height: 1.6;
  }
}
footer .container .copyright {
  font-size: 18px;
  text-align: right;
  position: absolute;
  top: 40px;
  right: 0;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  footer .container .copyright {
    position: relative;
    background-color: #000066;
    top: 0;
    text-align: left;
    padding: 20px 5% 40px 5%;
    color: #fff;
    width: 100%;
    font-size: 14px;
    line-height: 1.8;
  }
}
@media screen and (max-width: 600px) {
  footer .container .copyright {
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    padding: 20px 5% 20px 5%;
  }
}
.mobile_top_btn {
  display: none;
  width: 70px;
  height: 70px;
  position: fixed;
  top: 45%;
  right: 10px;
  background: url(../images/mobile/top_btn.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  z-index: 98;
}
@media screen and (max-width: 767px) {
  .mobile_top_btn {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
