footer
	.container
		.title
			h2 Contact Us
			a(href="#") 聯絡我們
			p &nbsp;
		.contact 地址：澎湖縣馬公市嵵裡里66~6號
			br 
			| 聯絡電話：(06) 995-1065
			br
			| 服務時間：週一至週五上午 08:00~12:00 下午：13:30~17:30
			br
			| 傳真服務專線：(06) 995-0530
			br
			| 1999縣民服務專線(前5分鐘免費)：
			br
			| 縣境內直撥1999，外縣市請撥打(06) 927-4400(請按0轉接1999)或06-924-8898，服務時間每日07:00~22:00
		.copyright Copyright © 2022 澎湖縣水產種苗繁殖場版權所有
			br
			| 網頁設計 A&J DESIGN STUDIO
.mobile_top_btn

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js")

script.
	$('.menubtn').on('click',function(){
		$('nav').fadeIn(500);
		$('.menubg').fadeIn(500);
	});
	$('.close_btn').on('click',function(){
		$('nav').fadeOut(500);
		$('.menubg').fadeOut(500);
	})
	$('.mobile_top_btn').on('click',goTop);
	function goTop(e){
		console.log('test');
		$('html, body').animate({
			scrollTop:0
		}, 700);
	}
	window.addEventListener("scroll",function(){
		if(window.scrollY < 800){
			$('.mobile_top_btn').css('display','none');
		}else{
			$('.mobile_top_btn').css('display','block');
		}
	});
		
