doctype html
html(lang="zh-Hant-TW")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 首頁::澎湖水產流放資料官方網站
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css")
		link(rel="stylesheet", href="css/style.css")
	header.index
		.colorbar
			h3 澎湖縣水產種苗放流資訊網
		a(href="#" alt="選單按鈕").menubtn
		include nav.pug
	.menubg
	body
		main
			.banner_wrap
				video(src="video/index_banner.MOV" muted autoplay playsinline loop)
				.index_banner(style={'z-index':'2'})
				.dark_retangle(style={'z-index':'2'})
				.grid_blue(style={'z-index':'2'})
				.text-wrap(style={'z-index':'2'})
					h1 澎湖縣
						br
						| 水產種苗放流資訊網
					h3 Artificial Propagation Release Records 
						br 
						| of Marine Life in Penghu Waters, Taiwan
			.container(style={'z-index':'2'})
				.grid_blue
				.short_cut_wrap
					ul
						li.w-40
							a(href="marine_total_form.html" alt="年度別水產種苗放流總表")
								.icon.magnifier
								span 年度別水產種苗放流總表
						li
							a(href="marine_address.html" alt="歷年放流地點")
								.icon.address
								span 歷年放流地點
						li
							a(href="marine_species.html" alt="歷年放流物種")
								.icon.species
								span 歷年放流物種
						li.w-40
							a(href="marine_report.html" alt="澎湖沿岸潮間帶棲地調查成果")
								.icon.magnifier
								span 澎湖沿岸潮間帶棲地調查成果
						li
							a(href="marine_assistant.html" alt="放流輔具改良")
								.icon.assistant
								span 放流輔具改良							
				section.plan_wrap
					h2 計畫緣起
					.down_arrow
					.text 澎湖群島因地處三股不同水溫海流交會處，自古即為優良魚場，具海洋生物多樣性特性，但在過漁壓力與海洋環境遭受破壞，加上全球氣候變遷等因素下，海洋漁業資源日漸枯竭，更嚴重的是許多物種早已不復見。
						br
						|
						p &nbsp;
						| 澎湖縣政府農漁局所轄澎湖縣水產種苗繁殖場(以下簡稱種苗場)為復育經濟性水產資源，已從事水產種苗生產及放流工作多年，並在民國110年進行盤點並分析自民國86至109年的執行成果且繪製成放流地圖在案。為充分利用先前數據做為未來業務發展之依據，並將彙整之歷年數據資訊化，乃有建置澎湖縣水產種苗放流資訊網之構想，期望將歷年業務成果數位化並累積成大數據，建立水產資源管理的新模式。
				section.video_intro_wrap
					h2 海洋生物教育影片
					ul.video_wrap
						li
							a(data-fancybox data-width="720" data-height="480" href="video/technology_corridor.mp4" alt="科技大觀園科學迴廊網路版-菊島望潮奇航")
								.pic
									img(src="images/video1_pic.png", alt="", srcset="")
									.play
								span 科技大觀園科學迴廊網路版-菊島望潮奇航
						li
							a(data-fancybox data-width="720" data-height="480" href="video/moses_divides_sea.mp4" alt="摩西分海-北寮潮間帶海洋舞者")
								.pic
									img(src="images/video2_pic.png", alt="", srcset="")
									.play
								span 摩西分海-北寮潮間帶海洋舞者
	include footer.pug
